.notes {
  margin-top: 60px auto;
  background-color: rgb(1, 1, 49);
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  gap: 20px;
  flex-wrap: wrap;
}
.notes__card {
  flex: 1 1 calc(33.333% - 2rem);
  padding: 12px;
  color: aliceblue;
  border-radius: 8px;
  text-align: center;
  box-shadow: rgba(52, 0, 241, 0.247) 0px 19px 38px,
    rgba(131, 2, 2, 0.22) 0px 15px 12px;
}
